
.education-container{
	width: 80%;
	padding: 35px 10%;
}
.education-container{
	padding-right: calc(10% - 30px);
}
main.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
}
.col header.title{
	
	color: #f9fafa;
	font-size: 22px;
	padding: 0px 0px 20px 30px;
}
.col .contents{
	padding: 0px 30px;
	border-left: 2px solid #bababa;
}
.col .contents .box{
	position: relative;
	padding: 20px;
	border: 1px solid #eaeaea;
	background-color: black;
    color: white;
	cursor: pointer;
	transition: all 0.4s;
	margin-bottom: 20px;
}
.col .contents .box:hover{
	box-shadow: 0px 3px 12px 0px #ccc;
    
	border: 1px solid transparent;
}
.col .contents .box::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	right: calc(100% + 22px);
	top: 0;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);	border: 2px solid white;
}
.box h4{
	position: relative;
	color: white;
	font-size: 22px;

}
.box h3{
	font-size: 19px;
	padding: 10px 0px 6px;
	color:linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
}
.box p{
	line-height: 1.2;
	color: #666;
	font-size: 17px;
}
@media(max-width: 768px){
	main.row{
		grid-template-columns: 1fr;
	}
	.row .col:nth-child(2){
		margin-top: 30px;
	}
}
