.Skills {
    margin-top: 50px;
    text-align: center;
    background-color: rgb(46, 45, 45);
  }
  
  .title {
    margin-bottom: 50px;
    color: rgb(249, 243, 243);
    padding-top: 20px ;
  }
  
  .image_wrapper {
    margin: 0px 50px;
    width: 150px;
    height: 150px;
  }
  
  .image_wrapper img {
    width: 80%;
  }